<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>359643655989-cj9k2ntedohpuhvitev2bpspvfm53gmv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.359643655989-cj9k2ntedohpuhvitev2bpspvfm53gmv</string>
	<key>API_KEY</key>
	<string>AIzaSyALWKG-BTQO2lE9-DCs8sO-itPM031jy38</string>
	<key>GCM_SENDER_ID</key>
	<string>359643655989</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kurdi.sheikhismailalKurdi</string>
	<key>PROJECT_ID</key>
	<string>sheikhismailalkurdi-2ffea</string>
	<key>STORAGE_BUCKET</key>
	<string>sheikhismailalkurdi-2ffea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:359643655989:ios:2c8627ba394ab067a7667c</string>
	<key>DATABASE_URL</key>
	<string>https://sheikhismailalkurdi-2ffea-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>